{% extends 'base.html' %} {% block content %}
<h1 style="width: 100%">{% block title %} {% endblock %}</h1>
<div class="container mt-5">
  <h1>Edit Volunteer Details:</h1>

  <form method="post">
    <div class="col-md-12">
      <label for="firstname" class="form-label mt-3">First Name</label>
      <input type="text" class="form-control" name="firstname"
                   value={{ volunteer.firstname }}
                   placeholder="First name">
            </input>
    </div>

    <div class="col-md-12">
      <label for="lastname" class="form-label mt-3">Last Name</label>
      <input type="text" class="form-control" name="lastname"
                   value={{ volunteer.lastname }}
                   placeholder="Last name">
            </input>
    </div>

    <div class="col-md-12">
      <label for="email" class="form-label mt-3">Email</label>
      <input type="text" class="form-control" name="email"
                   value={{ volunteer.email }}
                   placeholder="Email">
            </input>
    </div>

    <p>
      <label for="job" class="form-label mt-3">Job</label>
      <select name="job" class="form-control" value={{ volunteer.job }}>
        <option selected>Change Job</option>
        <option value="Registration">Registration</option>
        <option value="Course Marshal">Course Marshal</option>
        <option value="Water Stop">Water Stop</option>
        <option value="Finish Line">Finish Line</option>
        <option value="Party Set-Up">Party Set-Up</option>
        <option value="Clean Up">Clean Up</option>
      </select>
    </p>
    <br>
    <div class="col-md-12">
      <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
