{% extends 'base.html' %} {% block content %}

<h1 class="title my-3">{% block title %}{% endblock %}</h1>

<div class="container">
  <h5>Roster - [{{ date.strftime('%m/%d/%Y %-I:%M:%S %p') }}]</h5>
  <div class="row g-3">
    {% for volunteer in volunteers %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <img
              src="https://www.w3schools.com/w3images/avatar2.png"
              alt="some person"
              class="card-img-top"
            />
            <div class="card-body">
      
      
        <h5 class="card-title">
          <a href="{{ url_for('volunteer', volunteer_id=volunteer.id)}}">
            {{ volunteer.firstname }} {{ volunteer.lastname }}
          </a></h5>      
          <p class="card-text">
      <p>Volunteer: #{{ volunteer.id }}</p>
      <p>Job: {{ volunteer.job }}</p>
      <p>Email Address: {{ volunteer.email }}</p>

      <p>Date Registered: {{ volunteer.created_at.strftime('%m/%d/%Y') }}</p>
    </p>
    <hr />
    
    <div class="btn-group" role="group" aria-label="Basic example">
    <a class="btn btn-outline-primary" href="{{ url_for('edit', volunteer_id=volunteer.id) }}" role="button">Edit</a>
      <!-- <a href="{{ url_for('edit', volunteer_id=volunteer.id) }}">Edit</a> -->
      <form
        method="POST"
        action="{{ url_for('delete', volunteer_id=volunteer.id) }}"
      >
      <input class="btn btn-outline-primary ms-3" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this entry?')"
      />
    </div>
    
        <!-- <input
          type="submit"
          value="Delete volunteer"
          onclick="return confirm('Are you sure you want to delete this entry?')"
        /> -->
        </form>
        </form>
      </form>
    </div>
    </div>
</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
